VITE_FIREBASE_API_KEY=AIzaSyBF-B48cl2jHJwcKxocpClNTYlLwK1cLiw
VITE_FIREBASE_AUTH_DOMAIN=lamax-4fd82.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=lamax-4fd82
VITE_FIREBASE_STORAGE_BUCKET=lamax-4fd82.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=1034220501833
VITE_FIREBASE_APP_ID=1:1034220501833:web:4c87af99ebb843b4a0f898
